body {
    background-color:darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 700px;
}

header {
    width: 99,9%;
    background-color: rgb(218, 81, 27);
    padding: 5px;
    
}

a {
    text-decoration: none;
    color: white;
}

nav {
    width: 20%;
    background-color: rgb(73, 24, 1);
    float: left;
    height: 650px;
}

ul.vertikal {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:rgb(73, 24, 1);
}

ul.vertikal li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    text-align: left;
}

ul.vertikal li a:hover {
    background-color: chocolate;
    color: white;
}

div.content {
    width: 80%;
    background-color:rgb(255, 150, 102);
    float: right;
    height: 650px;
    padding: 15;
}

footer {
    width: 99,9%;
    background-color: rgb(218, 81, 27);
    text-align: center;
    padding: 2px;
}